{% extends "base_layout.html" %}
{% load static %}

{% block heading %}
Compra
{% endblock heading %}

{% block content %}
<div class="container-fluid">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Comprar Producto
          </h3>
          <a href="historial_compras" style="margin-left: 1em;"><button>Ver Historial</button></a>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              {% include 'formulario_compra_venta.html' %}
            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.Left col -->

    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

      <!-- Map card -->
      <div class="card bg-gradient-primary" style=" min-height: 372px;">
        <div class="card-header border-0">
          <h3 class="card-title">
            <i class="fas fa-map-marker-alt mr-1"></i>
            Esta compra
          </h3>
          <!-- /.card-tools -->
        </div>
        <div class="card-body">
          <div style=" width: 100%;">
            <h5>Proveedor: {{proveedor}}</h5>
            <br />
            <table>

              <tr>
                <th>Producto</th>
                <th>Costo</th>
                <th>Cantidad</th>
                <th></th>
              </tr>

            {% for i in articulo_a_comprar %}
              <tr>
                <td>{{ i.product_id }}</td>
                <td>${{ i.costo_unitario }}</td>
                <td>{{ i.quantity }} </td>
                <!-- <td><a href="cancelar_unidad/{{i.id}}"><img src="{% static '/dist/img/cancel.svg' %}" alt="Cancelar" /></a></td> -->
              </tr>
            {% endfor %}

            </table>

            <p style= "color:#A91400"><strong>{{ inexistente }}</strong></p>
            <p style= "color:#A91400"><strong>{{ porcentaje_inexistente }}</strong></p>
            <p><strong>Total: ${{ total }}</strong></p>
            <span>
              <a href="/transaccion_exitosa"><button>Confirmar compra</button></a>
              <a href="/cancelar"><button>Cancelar</button></a>
            </span>
            
            <!--<a>Que sea un boton de redireccion en vez de submit</a>-->

          </div>
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}