{% extends "base_layout.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              <h2>{{ message }}</h2>
              <p>{{ redireccion }}</p>
            </div>
            {% if request.path == '/venta_exitosa' and hay_recibo == True %}
            <div>
              <a href="recibo/{{sale}}" target="_blank"><button>Imprimir recibo</button></a>
            </div>
            {% endif %}
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}

  {% block redirect %} 

  <script>
    function delayRedirect(){
        // Esta funcion es para que se redireccione al index luego de 3 segundos

        //La linea de abajo hace que aparezca un <span> con cuenta regresiva en pantalla (solo de prueba)
        //document.getElementById('delayMsg').innerHTML = 'Tiempo restante: <span id="countDown">5</span> seconds....';
        var count = 3;
        setInterval(function(){
            count--;
            //document.getElementById('countDown').innerHTML = count;
            if (count == 0){
                window.location = '/'; 
            }
        },1000);
    }
    {% if request.path != '/venta_exitosa' or not hay_recibo %}delayRedirect();{% endif %}

  </script>

  {% endblock redirect %}

