{% load static %}
  
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static '/dist/img/ecoin-round.ico' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SourceStock</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static '/dist/img/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link {% if request.path == '/entrada' or request.path == '/' or request.path == '/control_inventario' or request.path == '/control_clientes' or request.path == '/proveedor' or request.path == '/control_proveedores' or request.path == '/venta_catalogo/' %}active{% endif %}">
                                        
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Operaciones
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="font-size: 0.8rem; padding-left: 2em;">

              <li class="nav-item">
                <a href="{% url 'venta' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Venta</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'entrada' %}" class="nav-link {% if request.path == '/entrada' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compra</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'control_inventario' %}" class="nav-link {% if request.path == '/control_inventario' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Control de inventario</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'control_clientes' %}" class="nav-link {% if request.path == '/control_clientes' or request.path == '/cliente' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Clientes</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'control_proveedores' %}" class="nav-link {% if request.path == '/control_proveedores' or request.path == '/proveedor' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Proveedores</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'venta_por_catalogo' %}" class="nav-link {% if request.path == '/venta_catalogo/' or request.path == '/venta_catalogo/confirmar_venta' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Venta por catálogo</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>