# Pdf handler
reportlab==3.6.13

# Django
Django==3.2.25

# Postgres libraries
psycopg2-binary==2.8.5
psycopg2==2.8.5

# Images
Pillow==10.2.0

# Requests
requests

# Server conect
gunicorn

# API Rest
djangorestframework