# Pdf handler
reportlab==3.5

# Django
Django==3.1

# Postgres libraries
psycopg2-binary==2.9.3
# psycopg2

# Images
Pillow==9.0.0

# Requests
requests==2.27.1

# Server conect
gunicorn

# API Rest
djangorestframework