{% extends "base_layout.html" %}
{% load static %}

{% block heading %}
{{titulo}}
{% endblock heading %}

{% block content %}

<div class="container-fluid">
  <!-- Main row -->
  <div class="row">

    <!-- Left col -->
    <section class="connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->

        <div class="card-body">
          <h4>{{month|date:"F Y"}}</h4>
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              {% if titulo == "Historial de ventas" %}

                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Venta</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Valor total</th>

                  </tr>
                    {% for i in object_list %}
                    

                      <tr class="intercalado">
                        <td><a href="recibo/{{i.id}}" target="_blank">{{i.id}}</a></td>
                        <td> {{i.fecha}} </td>
                        <td> 
                          {% if i.cliente != None %}
                          {{i.cliente.nombre}} {{i.cliente.apellido}}
                          {% else %}
                          -
                          {% endif %}
                        </td>
                        <td> ${{i.total_con_descuento}} </td>
                      </tr>

                    {% endfor %}
                </table>
              {% else %}
                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Compra</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Valor total</th>

                  </tr>
                  {% for i in object_list %}
                  

                    <tr class="intercalado">
                      <td><a href="detalle_entrada/{{i.id}}" target="_blank">{{i.id}}</a></td>
                      <td> {{i.fecha | date:"F j, Y"}} </td>
                      <td> 
                        {% if i.proveedor != None %}
                        {{i.proveedor.nombre}}
                        {% else %}
                        -
                        {% endif %}
                      </td>
                      <td> ${{i.total}} </td>
                    </tr>

                  {% endfor %}
                </table>
              {% endif %}
              <br />

            </div>

            <div class="pagination espaciado">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                  {% endif %}
      
                  <span class="current">
                      Página {{ page_obj.number }} de {{ paginator.num_pages }}.
                  </span>
      
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  {% endif %}
              </span>
          </div>

            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->


      <!-- /.card -->

    </section>
    <!-- /.Left col -->

    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

      <div>
        <span class="espaciado">
          <a href=""> 2020 </a>
          <a href=""> 2021 </a>
          <a href=""> 2022 </a>
        
        </span>
        <br>
        <span class="espaciado">
          
          <a href="/{{url}}/{{month|date:'Y'}}/01">Ene</a>
          <a href="/{{url}}/{{month|date:'Y'}}/02">Feb</a>
          <a href="/{{url}}/{{month|date:'Y'}}/03">Mar</a>
          <a href="/{{url}}/{{month|date:'Y'}}/04">Abr</a>
          <a href="/{{url}}/{{month|date:'Y'}}/05">May</a>
          <a href="/{{url}}/{{month|date:'Y'}}/06">Jun</a>
        
        </span>
        <br>
        <span class="espaciado">
          
          <a href="/{{url}}/{{month|date:'Y'}}/07">Jul</a>
          <a href="/{{url}}/{{month|date:'Y'}}/08">Ago</a>
          <a href="/{{url}}/{{month|date:'Y'}}/09">Sep</a>
          <a href="/{{url}}/{{month|date:'Y'}}/10">Oct</a>
          <a href="/{{url}}/{{month|date:'Y'}}/11">Nov</a>
          <a href="/{{url}}/{{month|date:'Y'}}/12">Dic</a>
        
        </span>
      </div>

    </section>
    <!-- right col -->

  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}