{% extends "base_layout.html" %}
{% load static %}

{% block heading %}
{{titulo}}
{% endblock heading %}

{% block content %}

<div class="container-fluid">
  <!-- Main row -->
  <div class="row">

    <!-- Left col -->
    <section class="connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->

        <div class="card-body">
          <h4>{{month|date:"F Y"}}</h4>
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              {% if titulo == "Historial de ventas" %}

                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Venta</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Valor total</th>

                  </tr>
                    {% for i in object_list %}
                    

                      <tr class="intercalado">
                        <td><a href="/detalle_de_venta/{{i.id}}">{{i.id}}</a></td>
                        <td> {{i.fecha}} </td>
                        <td> 
                          {% if i.cliente != None %}
                          {{i.cliente.nombre}} {{i.cliente.apellido}}
                          {% else %}
                          -
                          {% endif %}
                        </td>
                        <td> ${{i.total_con_descuento}} </td>
                      </tr>

                    {% endfor %}
                </table>
              {% else %}
                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Compra</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Valor total</th>

                  </tr>
                  {% for i in object_list %}
                  

                    <tr class="intercalado">
                      <td><a href="/detalle_de_compra/{{i.id}}">{{i.id}}</a></td>
                      <td> {{i.fecha | date:"F j, Y"}} </td>
                      <td> 
                        {% if i.proveedor != None %}
                        {{i.proveedor.nombre}}
                        {% else %}
                        -
                        {% endif %}
                      </td>
                      <td> ${{i.total}} </td>
                    </tr>

                  {% endfor %}
                </table>
              {% endif %}
              <br />

            </div>

            <div class="pagination espaciado">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                  {% endif %}
      
                  <span class="current">
                      Página {{ page_obj.number }} de {{ paginator.num_pages }}.
                  </span>
      
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  {% endif %}
              </span>
          </div>

            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->


      <!-- /.card -->

    </section>
    <!-- /.Left col -->

    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
      <br />

      <div>
        <span class="espaciado">
          <a href="/{{url}}/2020/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2020.svg' %}" alt=""> </a>
          <a href="/{{url}}/2021/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2021.svg' %}" alt=""> </a>
          <a href="/{{url}}/2022/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2022.svg' %}" alt=""> </a>
          <a href="/{{url}}/2023/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2023.svg' %}" alt=""> </a>
          <br />
          <br />
          <a href="/{{url}}/2024/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2024.svg' %}" alt=""> </a>
          <a href="/{{url}}/2025/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2025.svg' %}" alt=""> </a>
          <a href="/{{url}}/2026/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2026.svg' %}" alt=""> </a>
          <a href="/{{url}}/2027/{{month|date:'m'}}"> <img src="{% static '/dist/img/years/2027.svg' %}" alt=""> </a>
        
        </span>
        <br />
        <br />
        <span class="espaciado">
          
          <a href="/{{url}}/{{month|date:'Y'}}/01"><img src="{% static '/dist/img/months/ene.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/02"><img src="{% static '/dist/img/months/feb.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/03"><img src="{% static '/dist/img/months/mar.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/04"><img src="{% static '/dist/img/months/abr.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/05"><img src="{% static '/dist/img/months/may.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/06"><img src="{% static '/dist/img/months/jun.svg' %}" alt=""></a>
        
        </span>
        <br>
        <br>
        <span class="espaciado">
          
          <a href="/{{url}}/{{month|date:'Y'}}/07"><img src="{% static '/dist/img/months/jul.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/08"><img src="{% static '/dist/img/months/ago.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/09"><img src="{% static '/dist/img/months/sep.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/10"><img src="{% static '/dist/img/months/oct.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/11"><img src="{% static '/dist/img/months/nov.svg' %}" alt=""></a>
          <a href="/{{url}}/{{month|date:'Y'}}/12"><img src="{% static '/dist/img/months/dic.svg' %}" alt=""></a>
        
        </span>
      </div>

    </section>
    <!-- right col -->

  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}