{% extends "base_layout.html" %}
{% load static %}

{% block heading %}
{{titulo}}
{% endblock heading %}

{% block content %}
<div class="container-fluid">
  {% include "small_boxes.html" %}

  <!-- Main row -->
  <div class="row">

    <!-- Left col -->
    <section class="connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->

        <div class="card-body">

          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              {% if titulo == "Historial de ventas" %}
                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Venta</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Valor total</th>

                  </tr>
                  {% for i in transaccion %}
                  

                    <tr class="intercalado">
                      <td><a href="recibo/{{i.id}}" target="_blank">{{i.id}}</a></td>
                      <td> {{i.fecha}} </td>
                      <td> 
                        {% if i.cliente != None %}
                        {{i.cliente.nombre}} {{i.cliente.apellido}}
                        {% else %}
                        -
                        {% endif %}
                      </td>
                      <td> ${{i.total}} </td>
                    </tr>

                  {% endfor %}
                </table>
              {% else %}
                <table style="width:100%;" class="borde-externo">
                  <tr class="intercalado">
                    <th>Cód. Compra</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Valor total</th>

                  </tr>
                  {% for i in transaccion %}
                  

                    <tr class="intercalado">
                      <td><a href="detalle_entrada/{{i.id}}" target="_blank">{{i.id}}</a></td>
                      <td> {{i.fecha}} </td>
                      <td> 
                        {% if i.proveedor != None %}
                        {{i.proveedor.nombre}}
                        {% else %}
                        -
                        {% endif %}
                      </td>
                      <td> ${{i.total}} </td>
                    </tr>

                  {% endfor %}
                </table>
              {% endif %}
              <br />

            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->


      <!-- /.card -->

    </section>
    <!-- /.Left col -->

    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

      <!-- Map card -->
        <div class="card-body">
          <!-- Date filter form -->
          {% include 'form_filtro_fechas.html' %}
          <!-- /.Date filter form -->
        </div>
      <!-- /.card -->

    </section>
    <!-- right col -->

  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}