{% load static %}
  
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static '/dist/img/ecoin-round.ico' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SourceStock</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static '/dist/img/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Sergio Ordoñez</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview {% if request.path == '/entrada' or request.path == '/' %}menu-open{% endif %}">
            <a href="#" class="nav-link {% if request.path == '/entrada' or request.path == '/' %}active{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Operaciones
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="font-size: 0.8rem; padding-left: 2em;">

              <li class="nav-item">
                <a href="{% url 'venta' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Venta</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'entrada' %}" class="nav-link {% if request.path == '/entrada' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compra</p>
                </a>
              </li>

            </ul>
          </li>

          <li class="nav-item has-treeview {% if request.path == '/compra_simple' or request.path == '/salida' or request.path == '/agregar_modificar' %}menu-open{% endif %}">
            <a href="#" class="nav-link {% if request.path == '/compra_simple' or request.path == '/salida' or request.path == '/agregar_modificar' %}active{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Control de inventario
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="font-size: 0.8rem; padding-left: 2em;">

              <li class="nav-item">
                <a href="{% url 'compra_simple' %}" class="nav-link {% if request.path == '/compra_simple' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Entrada</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="{% url 'salida' %}" class="nav-link {% if request.path == '/salida' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Salida</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="./agregar_modificar" class="nav-link {% if request.path == '/agregar_modificar' %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Agregar o modificar</p>
                </a>
              </li>
              
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>