{% extends "base_layout.html" %}
{% load static %}

{% block heading %}
Venta
{% endblock heading %}

{% block content %}
<div class="container-fluid">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Vender Producto
          </h3>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
              {% include 'formulario_compra_venta.html' %}
            </div>
            <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.Left col -->

    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

      <!-- Map card -->
      <div class="card bg-gradient-primary" style=" min-height: 287px;">
        <div class="card-header border-0">
          <h3 class="card-title">
            <i class="fas fa-map-marker-alt mr-1"></i>
            Esta venta
          </h3>
          <!-- /.card-tools -->
        </div>
        <div class="card-body">
          <div style=" width: 100%;">
            <h5>Cliente: {{cliente}}</h5>
            <br />
            {% for i in articulo_a_vender %}
              <p>{{ i.id_producto }}  -  Precio: ${{ i.precio_unitario }}  -  Cant: {{ i.cantidad }}</p>
            {% endfor %}
            <p style= "color:#A91400"><strong>{{ inexistente }}</strong></p>
            <p><strong>Total: ${{ total }}</strong></p>
            <span>
              <a href="/venta_exitosa"><button>Confirmar compra</button></a>
              <a href="/cancelar"><button>Cancelar</button></a>
            </span>

          </div>
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}