{% extends "base_layout.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card-body">
        <div class="tab-content p-0">
          <!-- Morris chart - Sales -->
          <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">

            <!-- Carrito de compras -->
            <div>
              <h4>Esta venta</h4>
              <table style="width:100%;" class="borde-externo">
                <tr class="intercalado">
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>% Desc.</th>
                  <th>Precio c/Desc.</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Stock</th>
                  <th>Remover</th>
                </tr>

                {% for i in articulo_a_vender %}


                <tr class="intercalado">
                  <td>{{i.id_producto.codigo}}</td>
                  <td> {{i.id_producto.description}} </td>
                  <td> ${{i.precio_unitario}} </td>
                  <td> {{i.discount_percentage}}% </td>
                  <td> ${{i.discounted_price }} </td>
                  <td> {{i.id_producto.brand}} </td>
                  <td> {{i.id_producto.model}} </td>
                  <td> {{i.cantidad}} </td>
                  <td> <a href="/cancelar_unidad/{{i.id}}">⛔</a> </td>
                </tr>

                {% endfor %}

              </table>
              <br />
              <table class="borde-externo">
                <tr class="intercalado">
                  <td><b> Subtotal </b></td>
                  <td><b> Descuento </b></td>
                  <td><b> Total con descuento </b></td>
                  <td><b> {{ person_title }} </b> </td>

                <tr class="intercalado">
                  <td> ${{esta_venta.total}} </td>
                  <td> ${{esta_venta.descuento}} </td>
                  <td> ${{esta_venta.total_con_descuento}} </td>
                  <td> {{ esta_venta.cliente.name }} </td>
                </tr>
              </table>

              <br />
              <span>
                <a href="/venta_exitosa"><button>Confirmar</button></a>
                <a href="descuento_adicional"><button>Añadir descuento</button></a>
                <a href="presupuesto/{{esta_venta.id}}"><button>Emitir Presupuesto</button></a>
              </span>


            </div>
            <br />
            <br />

            <div>
              <h4>Buscar Cliente</h4>
              <form action="" method="post"> {% csrf_token %}
                <span>

                  {{ form.as_table }}

                  <input type="submit" value="Buscar" />
                </span>
              </form>
            </div>
            <br />

            <!--Registro de Persona-->

            <table style="width:100%;" class="borde-externo">
              <tr class="intercalado">
                <th>Nombre o Empresa</th>
                <th>Condicion frente al IVA</th>
                {% if titulo == "Confirmar venta" %}
                <th>DNI</th>
                {% endif %}
                <th>CUIT</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Elegir</th>
              </tr>
              {% for i in persona %}


              <tr class="intercalado">
                <td>{{i.name}}</td>
                <td> {{i.tax_condition}} </td>
                {% if titulo == "Confirmar venta" %}
                <td> {{i.dni}} </td>
                {% endif %}
                <td> {{i.cuit}} </td>
                <td> {{i.direction}} </td>
                <td> {{i.phone_number}} </td>
                <td> {{i.email}} </td>
                <td> <a href="elegir_cliente/{{i.id}}">✅</a> </td>
              </tr>

              {% endfor %}
            </table>

            <!--Fin registro de clientes-->

          </div>
          <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
            <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
          </div>
        </div>
      </div><!-- /.card-body -->
  </div>
  <!-- /.card -->

  </section>
  <!-- /.Left col -->

</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
{% endblock content %}